$primary-color: #F2F4F7;
$secondary-color: #FFFFFF;
$third-color: #00AA45;
$fourth-color: #E4E4E4;
$fifth-color: #707070;

@media only screen and (max-width: 1919px) {
  body {
    z-index: 2;
    background: $third-color;
    width: 100%;
    font-size: 0;
    block-size: 0;
  }

  img {
    display: none;
  }

  button {
    display: none;
  }

  input {
    display: none;
  }

  #cannot {
    font-size: 40px;
    width: min(100% - 2rem);
    margin-inside: auto;
    text-align: center;
    padding: 15%;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 3840px) {
  @font-face {
    font-family: Roboto;
    src: url("../Roboto/Roboto-Regular.ttf");
  }

  %hov {
    background: $fourth-color;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  %pod {
    padding-top: 2px;
    margin-left: 20px;
    margin-bottom: 16px;
    font-size: 12px;
    color: #30597E;
  }

  html {
    font-family: Roboto, serif;
  }

  body {
    background: $primary-color;
    width: 100%;
  }

  footer {
    clear: both;
  }

  section {
    clear: both;
  }

  #bar {
    background: $secondary-color;
    height: 70px;
  }

  #user {
    float: right;
    margin-top: 20px;
    padding-right: 30px;
  }

  #user-name {
    float: right;
    margin: 5px;
    font-size: 16px;
  }

  a {
    float: left;
    margin-left: 5px;
    font-size: 18px;
    position: relative;
    bottom: 5px;

    &#lefta {
      margin-top: 20px;
      margin-left: 30px;
    }
  }

  img {
    float: left;

    &#menu {
      float: left;
      padding: 25px 20px 24px 15px ;

      &:hover {
        @extend %hov;
        border-radius: 0 10px 10px 0;
      }
    }

    &#iAMOS {
      float: left;
      padding-top: 17px;
      margin-left: 110px;
    }

    &#user-svg {
      float: right;
      margin-left: 10px;
    }

    &.act-svg {
      margin-left: 25.3px;
      margin-right: 24.2px;
    }

    &.bin {
      float: right;
      margin: 0 5px 0 150px;
      position: relative;
      top: -10px;
    }

    &#role-bin {

    }

    &.pen {
      float: right;
      margin: 0 5px 0 5px;
      position: relative;
      top: -10px;
    }

    &#method-pen {
      position: relative;
      top: 5px;
    }

    &#role-pen {

    }

    &.role-svg {
      margin: 2px 10px 0 0;
    }

    &.user-active {
      margin: 0 5px 0 0;
    }

    &.contact-svg {
      margin: 5px 23.2px 0 0;
      align-items: center;
    }

    &.email-contact {
      margin: 5px 23.2px 0 0;
      align-items: center;
      padding: 4px ;
    }

    &.adres-contact {
      margin: 5px 23.2px 0 0;
      align-items: center;
      padding: 0 3px;
    }
  }

  p {
    font-size: 18px;
    margin-top: 0;

    &.user-name {
      position: relative;
      left: 10px;
    }

    &.users-email {
      @extend %pod;
      position: relative;
      top: -25px;
      left: 10px;
    }

    &.acti {
      padding-top: 20px;
      font-size: 14px;

      &:hover {
        @extend %hov;
        height: 30px;
        border-radius: 10px 0 0 10px;
      }
    }


  }

  .pop {
    padding-top: 2px;
    margin-left: 20px;
    font-size: 14px;
  }

  .pod {
    @extend %pod;
  }

  .users-list {
    float: none;
    list-style: none;
    position: fixed;
    top: 200px;

    & li {
      float: left;
    }

    & label {
      display: block;
      width: 250px;
      cursor: pointer;
      position: relative;
      left: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }

    & input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }

  [id^=userl]:checked + label {
    background: $primary-color;
    border-left: 8px solid $third-color;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    text-align: left;
    height: 56px;
    padding: 18px 0 0 14px;
    left: -20px;
    top: -15px;
  }

  [id^=userl]:checked ~ [id^=content-user] {
    display: block;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
    width: calc(100% - 74%);
    position: fixed;
    top: 180px;
    left: calc(100% - 80%);
  }

  .content-user {
    z-index: 2;
    display: none;
    float: left;
    text-align: left;
    height: 280px;
    //margin: -135px auto auto 149.6%;
    padding: 10px;
    background: $secondary-color;
    line-height: 110%;

    border-radius: 0 0 15px 15px;
    box-sizing: content-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
  }

  .contact {
    float: left;
    list-style: none;
    position: fixed;

    & input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    & li {
      float: left;
    }

    & label {
      display: block;
      width: 250px;
      cursor: pointer;
      left: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }

  [id^=userl]:checked ~ [id^=contact-user] {
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    width: calc(100% - 74%);
    position: fixed;
    top: 180px;
    left: calc(100% - 49%);
  }


  .contact-user {
    z-index: 2;
    display: none;
    text-align: left;
    float: left;
    height: 290px;
    padding: 10px 10px 2px 10px;
    background: $secondary-color;
    line-height: 110%;
    border-radius: 0 0 15px 15px;
    box-sizing: content-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
  }

  #contact-method {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  #middle-details {
    top: 103px;
  }

  #middle-contact {
    top: 103px;
    left: calc(100% - 49%);
  }

  #middle-roles {
    top: 490px;
  }

  .tabs {
    width: 285px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 35px 0 0 22px;

    & input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    & li {
      float: left;
    }

    & label {
      display: block;
      width: 100px;
      padding: 30px 18px;
      background: $secondary-color;
      text-align: center;
      height: 13px;
      cursor: pointer;
      position: relative;
      left: 10px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }

    & label:hover {
      background: $fourth-color;
      top: 0;
    }
  }

  [id^=tab]:checked + label {
    background: #FFFFFF;
    border-bottom: 2px solid $third-color;
  }

  [id^=tab]:not(:checked) + label {
    color: #707070;
  }

  [id^=tab]:checked ~ [id^=tab-content] {
    display: block;
  }

  .tab-content {
    z-index: 2;
    display: none;
    text-align: left;
    width: 280px;
    height: 684px;
    margin-top: 36px;
    background: $secondary-color;
    line-height: 140%;
    position: absolute;
    border-radius: 0 0 0 15px;
    top: 39px;
    left: 10px;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .middle-list {
    width: calc(100% - 74%);
    display: block;
    float: left;
    list-style: none;
    padding: 10px;
    //margin: 35px 35px auto 90px;
    //margin-inside: auto;
    position: fixed;
    left: calc(100% - 80%);
    background: $secondary-color;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);

    & label {
      display: block;
      background: $secondary-color;
      text-align: center;
      height: 17px;
      cursor: pointer;
      position: relative;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }

  }

  .roles-content {
    float: none;
    list-style: none;
    position: relative;

    & li {
      float: left;
    }

    & label {
      display: block;
      width: 250px;
      cursor: pointer;
      left: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }

  .roles-content {
    z-index: 2;
    display: block;
    text-align: left;
    width: calc(100% - 74%);
    height: 120px;
    padding-top: 20px;
    padding-left: 20px;
    background: $secondary-color;
    line-height: 110%;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 566px;
    left: calc(100% - 80%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    box-sizing: content-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
  }

  article {
    display: block;
    margin: 400px 0 0 24px;
  }

  #rolescon {
    display: block;
    float: left;
  }


  .big {
    border-radius: 15px 15px 0 0;
    background: $secondary-color;
    border: 1px solid $secondary-color;
    vertical-align: text-top;
  }

  #plus {
    float: right;
    margin: 20px;
  }

  #active {
    width: 107.7px;
    border-radius: 15px 0 0 0;
  }

  #roles {
    float: left;
    position: relative;
    top: 10px;

    & label {
      display: block;
      background: $secondary-color;
      text-align: center;
      height: 17px;
      cursor: pointer;
      width: 152%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }
  }


  #leftcol {
    float: left;
    background: $fourth-color;
    width: 261px;
    height: 760px;
    margin: 35px auto 0 0;
    line-height: 140%;
    border-radius: 0 15px 15px 0;
  }

  #lefta {
    position: relative;
    top: 2px;
  }

  #user-serchbar {
    margin: 0 20px 0 0;
    height: 40px;
    width: 185px;
    background: $secondary-color;
    border-radius: 0 25px 25px 0;
    border: none;
    text-align: left;
    float: right;
    cursor: pointer;
  }

  button{
    float: right;
    margin: 0 0 0 28px;
    border: none;
    cursor: pointer;
    background: $secondary-color;
    border-radius: 25px 0 0 25px;
    height: 42px;
  }

  .users-list {
    padding-top: 10px;
    clear: both;
  }

  .data-users {
    display: block;
    list-style: none;
    padding: 15px 19px 0 30px;
    height: 60px;
    width: 220px;
    position: relative;
    left: -48px;
    border-top: 1px #CDCACA solid;
    clear: both;

    &:hover {
      @extend %hov;
      background: #d0d0d0;
      border-radius: 20px;
    }
  }

  #rightcol {
    float: right;
    width: 313px;
  }

  #user-details {
    margin-top: 10px;
  }

  #rolesname {
    float: left;
    padding-bottom: 17px;
  }

  #cannot {
    font-size: 0;
  }
}