$primary-color: #F2F4F7;
$secondary-color: #E4E4E4;
$white-color: #FFFFFF;
$green-color: #00AA45;
$gray-color: #707070;

@media only screen and (max-width: 1919px) {
  body {
    z-index: 2;
    background: $green-color;
    width: 100%;
    font-size: 0;
    block-size: 0;
  }

  img {
    display: none;
  }

  button {
    display: none;
  }

  input {
    display: none;
  }

  #cannot {
    font-size: 40px;
    width: min(100% - 2rem);
    margin-inside: auto;
    text-align: center;
    padding: 15%;
  }
}

@media only screen and (min-width: 3841px) {
  body {
    z-index: 2;
    background: $green-color;
    width: 100%;
    font-size: 0;
    block-size: 0;
  }

  img {
    display: none;
  }

  button {
    display: none;
  }

  input {
    display: none;
  }

  #cannot {
    font-size: 150px;
    width: min(100% - 2rem);
    margin-inside: auto;
    text-align: center;
    padding: 15%;
  }
}

@media only screen and (min-width: 1920px) and (max-width: 3840px) {
  @font-face {
    font-family: Roboto;
    src: url("../Roboto/Roboto-Regular.ttf");
  }

  %hov {
    background: $secondary-color;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  %pod {
    padding-top: 2px;
    margin-left: 20px;
    margin-bottom: 16px;
    font-size: 12px;
    color: #30597E;
  }

  %heading {
    width: calc(100% - 74%);
    height: 50px;
    padding: 10px;
    position: fixed;
    left: calc(100% - 80%);
    background: $white-color;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 10px 0 rgba(0, 0, 0, 0.19);
  }

  html {
    font-family: Roboto, serif;
  }

  body {
    background: $primary-color;
    width: 100%;
  }

  footer {
    clear: both;
  }

  section {
    display: flex;
    justify-content: space-between;
  }

  header {
    background: $white-color;
    height: 70px;
  }

  .log-on {
    float: right;
    margin-top: 20px;
    padding-right: 30px;
  }

  .Piotr {
    float: left;
    margin: 5px;
    font-size: 16px;
  }

  img {
    float: left;

    &.menu {
      display: flex;
      padding: 25px 20px 24px 15px ;

      &:hover {
        @extend %hov;
        border-radius: 0 10px 10px 0;
      }
    }

    &.iAMOS {
      display: flex;
      padding-top: 17px;
      margin-left: 110px;
    }

    &.user-svg {
      float: left;
      margin-left: 10px;
    }

    &.act-svg {
      margin-left: 25.3px;
      margin-right: 24.2px;
    }

    &.bin {
      float: right;
      margin: 0 5px 0 150px;
      position: relative;
      top: -10px;
    }

    &#role-bin {
      position: fixed;
      top: 520px;
      left: 35%;

      @media only screen and (min-width: 2144px) {
        &#role-bin {
          left: 36.2%;
        }
      }

      @media only screen and (min-width: 2400px) {
        &#role-bin {
          left: 37.2%;
        }
      }

      @media only screen and (min-width: 2752px) {
        &#role-bin {
          left: 38.4%;
        }
      }

      @media only screen and (min-width: 3200px) {
        &#role-bin {
          left: 39.4%;
        }
      }

      @media only screen and (min-width: 3840px) {
        &#role-bin {
          left: 40.5%;
        }
      }
    }

    &.pen {
      float: right;
      margin: 0 5px 0 5px;
      position: relative;
      top: -10px;
    }

    &#role-pen {
      position: fixed;
      top: 520px;
      left: 44.5%;

      @media only screen and (min-width: 2144px) {
        &#role-pen {
          left: 44.7%;
        }
      }

      @media only screen and (min-width: 2400px) {
        &#role-pen {
          left: 44.9%;
        }
      }

      @media only screen and (min-width: 2752px) {
        &#role-pen {
          left: 45%;
        }
      }

      @media only screen and (min-width: 3200px) {
        &#role-pen {
          left: 45.1%;
        }
      }

      @media only screen and (min-width: 3840px) {
        &#role-pen {
          left: 45.3%;
        }
      }
    }

    &.role-svg {
      margin: 2px 10px 0 0;
    }

    &.user-active {
      margin: 0 5px 0 0;
    }

    &.contact-svg {
      margin: 5px 23.2px 0 0;
    }

    &.email-contact {
      margin: 5px 23.2px 0 0;
      align-items: center;
      padding: 4px ;
    }

    &.address-contact {
      margin: 5px 23.2px 0 0;
      align-items: center;
      padding: 0 3px;
    }
  }

  p {
    font-size: 18px;
    margin-top: 0;

    &.headline {
      float: left;
      margin-left: 17px;
      position: relative;
      bottom: 5px;
    }

    &.headline-roles {
      float: left;
      margin-left: 17px;
      position: relative;
    }

    &.user-name {
      position: relative;
      left: 10px;
    }

    &.users-email {
      @extend %pod;
      position: relative;
      top: -25px;
      left: 10px;
    }

    &.act {
      margin-top: 10px;
      padding: 15px 0 15px 0;
      font-size: 14px;

      &:hover {
        @extend %hov;
        border-radius: 10px 0 0 10px;
      }
    }

    &.left-headline {
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  .pop {
    padding-top: 2px;
    margin-left: 20px;
    font-size: 14px;
  }

  .pod {
    @extend %pod;
  }

  ul {
    list-style: none;
  }

  .users-list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 215px;
  }

  .user {
    cursor: pointer;
    padding: 20px 0 0 20px;
    width: 240px;
    height: 60px;
    border-top: 1px #CDCACA solid;

    &:hover {
      background-color: #D0D0D0;
      border-radius: 0 15px 15px 0;
      box-sizing: content-box;
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      -o-animation-duration: 0.5s;
    }
  }

  [data-tab-content] {
    display: none;
  }

  .active[data-tab-content] {
    display: block;
    flex-direction: column;
    position: fixed;
    top: 205px;
    left: 20%;

  }

  .user.active {
    background: $primary-color;
    width: 233px;
    border-left: 8px solid $green-color;
    border-radius: 5px 5px 5px 5px;
  }


  .content-user {
    width: calc(100% - 74% + 20px);
    height: 290px;
    background: $white-color;
    line-height: 110%;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 190px;
    left: 20%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
  }

  .contact-user {;
    width: calc(100% - 74% + 20px);
    height: 280px;
    padding-top: 10px;
    background: $white-color;
    line-height: 110%;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 190px;
    left: 51%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;

  }

  .tabs {
    width: 285px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 35px 0 0 22px;

    & input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    & li {
      float: left;
    }

    & label {
      display: block;
      width: 100px;
      padding: 30px 18px;
      background: $white-color;
      text-align: center;
      font-size: 18px;
      height: 13px;
      cursor: pointer;
      position: relative;
      left: 10px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
    }

    & label:hover {
      background: $secondary-color;
      top: 0;
    }
  }

  [id^=tab]:checked + label {
    background: #FFFFFF;
    border-bottom: 2px solid $green-color;
  }

  [id=tab1] + label {
    background: #FFFFFF;
    width: 107.7px;
    border-radius: 15px 0 0 0;
    border-bottom: 2px solid $green-color;
  }

  [id^=tab]:not(:checked) + label {
    color: #707070;
  }

  [id^=tab]:checked ~ [id^=tab-content] {
    display: block;
  }

  .tab-content {
    z-index: 2;
    display: none;
    text-align: left;
    width: 280px;
    height: 684px;
    margin-top: 36px;
    background: $white-color;
    line-height: 140%;
    position: absolute;
    border-radius: 0 0 0 15px;
    top: 39px;
    left: 10px;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
  }

  .middle {
    display: flex;
    justify-content: center;
  }

  .middle-list {
    @extend %heading;
    top: 103px;
  }

  .middle-list-contact {
    @extend %heading;
    top: 102px;
    left: calc(100% - 49%);
  }

  .middle-list-roles {
    @extend %heading;
    height: 39px;
    top: 490px;
    left: calc(100% - 80%);
  }

  .roles-content {
    z-index: 2;
    display: block;
    text-align: left;
    width: calc(100% - 74%);
    height: 120px;
    padding-top: 20px;
    padding-left: 20px;
    background: $white-color;
    line-height: 110%;
    border-radius: 0 0 15px 15px;
    position: fixed;
    top: 566px;
    left: calc(100% - 80%);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    box-sizing: content-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
  }

  .plus {
    position: absolute;
    left: 215px;
    top: 130px;
  }

  .roles {
    float: left;
    position: relative;
    top: 10px;
  }

  .left-panel {
    display: flex;
    left: 0;
    background: $secondary-color;
    width: 261px;
    height: 760px;
    margin: 35px auto 0 0;
    line-height: 140%;
    border-radius: 0 15px 15px 0;
  }

  #user-searchbar {
    height: 40px;
    width: 185px;
    background: $white-color;
    border-radius: 0 25px 25px 0;
    border: none;
    text-align: left;
    cursor: pointer;
    position: absolute;
    left: 45px;
    top: 185px;
  }

  button{
    border: none;
    cursor: pointer;
    background: $white-color;
    border-radius: 25px 0 0 25px;
    height: 42px;
    position: absolute;
    left: 24px;
    top: 185px;
  }

  .users-list {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    left: 0;
  }

  .right-panel {
    position: fixed;
    width: 313px;
    right: 0;
  }

  .user-details {
    margin-top: 20px;
  }

  .cannot {
    font-size: 0;
  }
}